/* Estilos gerais */
.navbar {
  background-color: #1976d2;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 98%;
}

.navbar-container {
  display: flex;
  justify-content: space-between; /* Alinha os elementos nas extremidades */
  /*align-items: center;*/
  max-width: 1870px;
  margin:10 auto;
}

.navbar-logo {
  color: #f8f5f5;
  text-decoration: none;
  font-size: 1.5rem;
  display: flex;
  align-items: center; /* Centraliza verticalmente */
}

.navbar-icon {
  margin-right: 10px; /* Ajuste o espaçamento do ícone */
}

/* Menu principal */
.nav-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-right: 10px;
}

.nav-link {
  color: #fafafa;
  text-decoration: none;
  font-size: 1rem;
  display: flex;
  align-items: center; /* Centraliza verticalmente */
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #1976d2; /* Cor ao passar o mouse */
}

.nav-icon {
  margin-right: 5px;
}

/* Botão de Logout */
.logout-button {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
}

.logout-button:hover {
  color: #69aee7; /* Cor ao passar o mouse */
}

/* Menu mobile */
.menu-icon {
  display: none; /* Escondido por padrão */
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Responsividade */
@media (max-width: 768px) {
  .nav-menu {
      display: none; /* Esconde o menu em telas pequenas */
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 60px;
      left: 0;
      background-color: #0d47a1;
  }

  .nav-menu.active {
      display: flex; /* Mostra o menu quando ativo */
  }

  .nav-item {
      margin: 10px 0;
      text-align: center;
  }

  .menu-icon {
      display: block; /* Mostra o ícone do menu em telas pequenas */
  }
}